<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CrudLINQ_407.Properties.Settings.db_bankConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=db_bank;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="CrudLINQ_407.Properties.Settings.db_collegeConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=db_college;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>